:root {
    color-scheme: light dark;
    
    /* primary colors */
    --shadow-color: #000;
    --midground-color: #AAA;
    --highlight-color: #FFF;
    --accent-color: #68B;

    /* derived colors */
    --background-color: #7C7C7C;
    --foreground-color: #DADADA;
    --accent-background-color: #496289;
    --accent-faint-color: #8D9AB3;
    --accent-foreground-color: #C6CFE0;
    --shadow-highlight-color: #BCBCBC; /* do not use */

    -webkit-text-size-adjust: none;

    font-family: sans-serif;
    background-color: var(--midground-color);
    color: var(--shadow-color);
}



@media (prefers-color-scheme: dark) {
    :root {
        --shadow-color: #FFF;
        --midground-color: #AAA;
        --highlight-color: #000;
        --accent-color: #68B;
    
        /* derived colors */
        --background-color: #7C7C7C;
        --foreground-color: #DADADA;
        --accent-background-color: #496289;
        --accent-faint-color: #8D9AB3;
        --accent-foreground-color: #C6CFE0;
        --shadow-highlight-color: #BCBCBC; /* do not use */
    
        -webkit-text-size-adjust: none;
    }
}



/* html {
    background-color: #000;
    color: #fff;
    height: 100%;
} */


body {
    /* cursor: none; */
    /* display: flex;
    height: 100%;*/
    
    margin: 0;
    /* color: blue; */
}

button {
    background-color: var(--accent-color);
    border: 1px solid var(--shadow-color);
    border-top-color: var(--highlight-color);
    border-left-color: var(--highlight-color);
}


/* svg {
    height: 100%;
    min-width: 800px;
    min-height: 480px;
    width: 100%;
} */


/* div {
    background-color: red;
    border-radius: 240px;
    height: 480px;
    width: 480px;
} */


.hidden {
    display: none;
}


