:root {
    color-scheme: light dark;
    
    /* grays */
    --A: #000;
    --AAAB: #5B5B5B;
    --AB: #7C7C7C;
    --BBBA: #959595;
    --B: #AAA;
    --BBBC: #C4C4C4;
    --BC: #DADADA;
    --CCCB: #EDEDED;
    --C: #FFF;
    --CCCA: #E0E0E0;
    --AC: #BCBCBC;
    --AAAC: #888;

    /* blues */
    --D: #68B;
    --AD: #496289;
    --AAAD: #364864;
    --BD: #8D9AB3;
    --BBBD: #9CA2AE;
    --CD: #C6CFE0;
    --CCCD: #E4E8F0;
    --DDDA: #5977A4;
    --DDDB: #7B91B7;
    --DDDC: #9EAFCF;

    /* primary colors */
    --shadow-color: var(--A);
    --midground-color: var(--B);
    --highlight-color: var(--C);
    --accent-color: var(--D);

    /* derived colors 1/2 */
    --background-color: var(--AB);
    --foreground-color: var(--AC);
    --accent-background-color: var(--AD);
    --accent-faint-color: var(--BD);
    --accent-foreground-color: var(--CD);
    --shadow-highlight-color: var(--AC);

    /*             
    0
    170
    255
    102 136 187
     */




    -webkit-text-size-adjust: none;

    font-family: sans-serif;
    background-color: var(--midground-color);
    color: var(--shadow-color);
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}



@media (prefers-color-scheme: dark) {
    :root {
        --shadow-color: #FFF;
        --midground-color: #AAA;
        --highlight-color: #000;
        --accent-color: #68B;
    
        /* derived colors */
        --background-color: #7C7C7C;
        --foreground-color: #DADADA;
        --accent-background-color: #496289;
        --accent-faint-color: #8D9AB3;
        --accent-foreground-color: #C6CFE0;
        --shadow-highlight-color: #BCBCBC;
    
        -webkit-text-size-adjust: none;
    }
}


/* custom elements that not have been loaded */
:not(:defined) {
    /* display: none; */
    background-color: #0ff4;
    display: block;
    outline: 10px solid #f008;
    outline-offset: -5px;
}

:not(:defined)::before {
    content: "Missing";
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* html {
    background-color: #000;
    color: #fff;
    height: 100%;
} */

/* * {
    cursor: default;
    user-select: none;
} */


html {
    position: fixed;
}


html,
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    margin: 0;
    /* color: blue; */
}


button {
    background-color: var(--midground-color);
    border: 1px solid var(--shadow-color);
    border-top-color: var(--highlight-color);
    border-left-color: var(--highlight-color);
    color: var(--shadow-color);
}

button:active {
    background-color: var(--accent-color);
    border: 1px solid var(--shadow-color);
    border-bottom-color: var(--highlight-color);
    border-right-color: var(--highlight-color);
    color: var(--shadow-color);
}

button:disabled {
    background-color: var(--BBBA);
    border: 1px solid var(--shadow-color);
    border-top-color: var(--CCCA);
    border-left-color: var(--CCCA);
    color: var(--shadow-color);
}


/* input[type="checkbox"] {
    outline: 1px solid red;
    outline-offset: 1px;
} */


/* svg {
    height: 100%;
    min-width: 800px;
    min-height: 480px;
    width: 100%;
} */


/* div {
    background-color: red;
    border-radius: 240px;
    height: 480px;
    width: 480px;
} */


.hidden {
    display: none;
}


table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    box-sizing: border-box;
    width: 64px;
    height: 80px;
    padding: 0;
}

td:nth-child(2n) {
    width: 16px;
}

td:nth-child(4n+3) {
    width: 32px;
}

tr:nth-child(2n) td {
    height: 20px;
}

tr:nth-child(4n + 3) td {
    height: 40px;
}

.a { background-color: var(--A); }
.b { background-color: var(--B); }
.c { background-color: var(--C); }
.d { background-color: var(--D); }

.ab { background-color: var(--AB); }
.ac { background-color: var(--AC); }
.ad { background-color: var(--AD); }
.bc { background-color: var(--BC); }
.bd { background-color: var(--BD); }
.cd { background-color: var(--CD); }

.aaab { background-color: var(--AAAB); }
.aaac { background-color: var(--AAAC); }
.aaad { background-color: var(--AAAD); }
.bbba { background-color: var(--BBBA); }
.bbbc { background-color: var(--BBBC); }
.bbbd { background-color: var(--BBBD); }
.ccca { background-color: var(--CCCA); }
.cccb { background-color: var(--CCCB); }
.cccd { background-color: var(--CCCD); }
.ddda { background-color: var(--DDDA); }
.dddb { background-color: var(--DDDB); }
.dddc { background-color: var(--DDDC); }


ui-h-stack {
    display: flex;
    width: 100%;
}

ui-v-stack {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ui-h-stack > ui-spacer,
ui-v-stack > ui-spacer {
    flex: 1 1 1px;
}

.ui-scroll-view {
    flex: 1 1 1px;
    overflow-y: scroll;
}
