/* @import "/style.css"; */

:host {
    display: flex;
    gap: 12px;
    background-color: red;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 400ms ease-in-out;
}

img {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    filter: drop-shadow(0 0 2px #fff);
}

div {
    flex: 1 1 1px;
    display: flex;
}

span {
    flex: 1 1 1px;
    /* text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white; */
}

input[type=checkbox] {
    flex: 0 0 auto;
    height: 75%;
}

div.col {
    flex-direction: column;
}

