/* @import "/style.css"; */

:host {
    display: flex;
    background-color: gray;
    margin: 2px;
    padding: 8px;
    border-radius: 4px;
    align-items: center;
}

img {
    flex: 0 0 auto;
    margin-inline-end: 12px;
    width: 32px;
    height: 32px;
}

span {
    flex: 1 1 1px;
    /* text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white; */
}
