:host {
    display: flex;
    overflow: hidden;
}

::slotted(*:first-child) {
    /* background-color: red; */
    flex: 0 0 320px;
    border-inline-end: 1px solid var(--background-color);
}

::slotted(*:last-child) {
    /* background-color: skyblue; */
    flex: 1 1 auto;
}


@media screen and (max-width : 640px) {
    ::slotted([slot=primary]) {
        flex: 1 1 1px;
    }
    
    ::slotted([slot=secondary]) {
        display: none;
    }
}