:host {
    --duration: 500ms;

    display: grid;
    padding: 9px;
    box-sizing: border-box;
    /* min-height: 100vh; */
    overflow-x: hidden;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.outlet {
    pointer-events: none;
    background-color: #0000;
    box-shadow: 0 0 25px;
    opacity: 0;
    position: absolute;
    inset: 0;
    transform-origin: 0 0;
    overflow: hidden;
    border-radius: 25%;
    /* border-radius: 25cqw; */
    scale: .25;
    /* background-image: url(/apps/hue/icon.png); */
    background-size: 100% 100%;
    background-position: center;
}

.outlet * {
    opacity: 0;
}

.zoom {
    transition-property: border-radius, opacity, scale, translate;
    border-radius: 0;
    transition-duration: var(--duration);
    translate: 0 !important;
    scale: 1 !important;
    opacity: 1;
}

.zoom * {
    transition-property: opacity;
    transition-duration: var(--duration);
    opacity: 1;
}