:host {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

:host :focus {
    outline: 2px solid var(--accent-color);
    outline-offset: -4px;
}

:host .selected {
    background-color: var(--accent-color);
    /* transition: background-color 0s !important; */
    color: var(--highlight-color);
}

:host .selected:focus {
    outline: 2px solid var(--highlight-color);
    outline-offset: -4px;
}


:host section {
    display: flex;
    flex-direction: column;
    isolation: isolate;
}

:host section header {
    color: var(--accent-color);
    background-color: var(--highlight-color);
    position: sticky;
    top: 0;
    z-index: 1;
}
