:host,
div.fill {
    background-color: #000;
    display: block;
    inset: 30px;
}

#controls {
    background-color: var(--midground-color);
    width: 100vw;
    height: 100vh;
}

video {
    /* outline: 2px solid red;
    outline-offset: -2px; */
    scale: -1 1;
}

video.idle {
    opacity: 0.5;
}

canvas {
    /* outline: 2px solid lime;
    outline-offset: -4px; */
    scale: -1 1;
}

.hidden {
    display: none !important;
}

.cover {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flash {
    animation-name: flash;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.eject {
    animation-name: eject;
    animation-duration: 1s;
    /* animation-timing-function: ease-in; */
    animation-fill-mode: forwards;
}

#countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 3vmin black, 0 0 4vmin black, 0 0 5vmin black;
    font-size: 100vmin;
}

.count {
    animation-name: count;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: 3; */
}


@keyframes flash {
    0% {background-color: white;}
    25% {background-color: white;}
    100% {background-color: transparent;}
}

@keyframes count {
    0% {
        opacity: 1;
        transform: scale(1.5);
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes count3 {
    0% {
        content: '3';
    }
    50% {
        content: '2';
    }
    100% {
        content: '1';
    }
}

@keyframes eject {
    0% { translate: 0 0 }
    100% {
        transform: scale(0.25);
        translate: 75% 50%;
     }
}















/* html, body {
    background: #222;
    overflow: hidden;
    width: 100%;
    height: 100%;
  } */
.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 400;
}

.plane {
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
}

.plane.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 20s infinite linear;
}

.plane.main .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px crimson, inset 0 0 60px crimson;
}

.plane.main .circle::before,
.plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: crimson;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px crimson;
}

.plane.main .circle::before {
    transform: translateZ(-90px);
}

.plane.main .circle::after {
    transform: translateZ(90px);
}

.plane.main .circle:nth-child(1) {
    transform: rotateZ(72deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(2) {
    transform: rotateZ(144deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(3) {
    transform: rotateZ(216deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(4) {
    transform: rotateZ(288deg) rotateX(63.435deg);
}

.plane.main .circle:nth-child(5) {
    transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}