:host {
    display: block;
}

canvas {
    background-color: white;
    image-rendering: pixelated;
    width: 768px;
    height: 768px;
}

div {
    display: flex;
}

div > * {
    flex: 0 0 auto;
}