:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 1px;
    overflow: hidden;
}

:host(.bottom-tab) nav {
    order: 2;
    z-index: 0;
}

:host(.bottom-tab) div {
    order: 1;
}

nav {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 48px;
    background-color: var(--foreground-color);
    margin-block: -1px;

    /* BUG: Safari */
    /* border-block: 1px solid var(--background-color); */
    border-block-start: 1px solid var(--background-color);
    border-block-end: 1px solid var(--background-color);
}

div {
    display: flex;
    flex: 1 1 1px;
    flex-direction: column;
    overflow: hidden;
}

nav > ::slotted(*:focus) {
    outline: 2px solid var(--accent-color);
    outline-offset: 0px;
}

nav > ::slotted(*[aria-selected="true"]) {
    color: var(--highlight-color);
    text-decoration: underline;
}
