:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 1px;
}

nav {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    padding: 0;
}

div {
    flex: 1 1 1px;
}

::slotted(li) {
    display: inline-block;
    padding: 0 12px;
}

::slotted(*) {
    /* background-color: lime; */
}
